@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "roboto";
}
.container{
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.header__list{
    display: flex;
    align-items: center;
    list-style: none;
    column-gap: 30px;
}
.header__link{
    font-size: 16px;
    color: #004A43;
    text-decoration: none;
    transition: 400ms ease;
}
.header__link:hover{
    color: #FFAD3D;
}
.header__buttons{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.header__btn{
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #7D77FC;
    padding: 10px 20px;
    transition: 800ms ease;
}
.header__btn:hover{
    background: #FFAD3D;
    color: #004A43;
    border-radius: 25px;
}
.intro{
    background: #F1F6F6;
    padding-bottom: 50px;
    margin-bottom: 65px;    
}
.intro__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.intro__img{
    width: 600px;
}
.intro__title{
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #004A43;
    margin-bottom: 8px;
}
.intro__text{
    font-weight: normal;
    font-size: 20px;
    line-height: 33px;
    color: #345E5A;
    margin-bottom: 40px;
}
.intro__btn{
    cursor: pointer;
    padding: 20px 120px;
    font-weight: bold;
    font-size: 21px;
    color: #004A43;
    text-decoration: none;
    background: #FFAD3D;
    border: 2px solid #FFAD3D;
    border-radius: 12px;
    transition: 500ms ease;
}.intro__btn:hover{
    color: #FFAD3D;
    background: none;
}
.intro__desc{
    cursor: pointer;
    margin-top: 45px;
    font-size: 16px;
    line-height: 24px;
    color: #345E5A;
}
.intro__text__primary{
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
    color: #58D1BD;;
}
.intro__bottom__title{
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #5C9992;
    margin-bottom: 40px;
}
.intro__rows{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.adventages__top{
    margin-bottom: 70px;
}
.adventages__title{
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: #004A43;
    text-align: center;
    margin-bottom: 60px;
}
.adventages__rows{
    display: flex;
    justify-content: space-between;
}
.adventages__row{
    max-width: 330px;
    width: 100%;
    text-align: center;
}
.adventages__row__title{
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #004A43;
    margin-top: 15px;
}
.adventages__row__text{
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #345E5A;
    margin-top: 15px;
    margin-bottom: 15px;
}
.adventages__row__btn{
    font-size: 16px;
    line-height: 19px;
    color: #7D77FC;
    text-decoration: none;
}
.adventages__btm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 100px;
    margin-bottom: 70px;
}
.adventages__right__title{
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: #004A43;
}
.adventages__right__text{
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;  
    color: #345E5A;
    margin-top: 40px;
}
.adventages__left__img{
    width: 400px;
}
.hr{
    background: #F1F6F6;
    padding: 65px 0 50px 0;
    margin-bottom: 60px;
}
.hr__title{
    padding-bottom: 65px;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;  
    text-align: center;
    color: #004A43;
}
.hr__rows{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.hr__row{
    max-width: 400px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 18px;
    padding: 35px;
}
.hr__row__title{
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #004A43;
    margin-bottom: 15px;
}
.hr__operations{
    display: flex;
    align-items: center;
    column-gap: 15px;
    /* justify-content: space-around; */
}
.hr__row__text{
    margin-top: 10px;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #345E5A;
}
.hr__text{
    margin-top: 50px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #5C9992;
}
.partner__title{
    font-weight: bold;
    font-size: 28px;
    line-height: 48px;
    text-align: center;
    color: #004A43;
    margin-bottom: 30px;
}
.partner__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px 100px;
    margin-bottom: 60px;
}
.partner__item{
    max-width: 300px;
    width: 100%;
    text-align: center;
}
.partner__item__title{
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #004A43;
    margin-top: 15px;
}
.partner__item__text{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #345E5A;
    margin-top: 20px;
}
.comment{
    background: #F1F6F6;
    padding: 65px 0;
    margin-bottom: 60px;
}
.comment__text{
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.48px;
    color: #345E5A;
    margin-bottom: 60px;
}
.comment__profile{
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.comment__profile__img{
    width: 70px;
}
.comment__profile__text{
    font-size: 17px;
    line-height: 18px;
    color: #345E5A;
}
.header__item{
    list-style: none;

}
.teams__content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 70px;
}
.teams__title{
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #004A43;
}
.teams__item{
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.teams__item:not(:last-child){
    margin-bottom: 10px;
}
.teams__link{
    text-decoration: none;
    font-weight: normal;
    font-size: 21px;
    line-height: 32px;
    color: #004A43;
}
.about{
    background: #F1F6F6;
    padding: 65px 0;
}
.about__content{
    display: flex;
    justify-content: center;
    column-gap: 30px;
}
.about__row{
    max-width: 460px;
    transition: 500ms e;
}
.about__img{
    border-radius: 30px 30px 0 0;
    width: 450px;
    margin-bottom: -4px;
}
.about__title{
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #004A43;
    margin-bottom: 65px;
}
.about__row__title{
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #004A43;
    margin-left: 30px;
}
.about__row__text{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 22px;
    color: #345E5A;
    margin-left: 30px;
    /* margin-right: 40px; */
}
.about__row__btn{
    text-decoration: none;
    margin-left: 30px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #7D77FC;
}
.about__texts{
    background: #fff;
    padding: 40px 0;
}
.footer{
    background: #004A43;
    padding: 150px 50px 50px 50px;
}
.footer__top{
    text-align: center;
    margin-bottom: 150px;
}
.footer__btm{
    display: flex;
    justify-content: space-between;
}
.footer__top__title{
    font-weight: bold;
    font-size: 32px;
    line-height: 48px; 
    color: #FFFFFF;
    margin-bottom: 40px;
}
.footer__top__btn{
    text-decoration: none;
    color: #fff;
    padding: 20px 55px;
    border: 2px solid #FFAD3D;
    background: #FFAD3D;
    border-radius: 12px;
    transition: 500ms ease;
}
.footer__text{
    font-size: 16px;
    line-height: 22px;
    color: #D8EBE9;
    margin-top: 15px;   
}
.footer__icons{
    margin-top: 15px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.footer__icon{
    padding: 7px;
    background: #fff;
    border-radius: 50%;
    color: #004A43;
    border: 1px solid #fff;
    transition: 600ms ease;
}
.footer__icon:hover{
    cursor: pointer;
    background: none;
    color: #fff;
}
.last-icon{
    padding: 7px 10px;
}
.footer__btm__title{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;     
    color: #FFFFFF;
}
.footer__link{
    text-decoration: none;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;  
    color: #D8EBE9;
    transition: 400ms ease;
}
.footer__link:hover{
    color: #FFAD3D;
}
.footer__item{
    list-style: none;
    margin-top: 10px;
}
.footer__img{
    transform: translateY(54px);
}
.footer__top__btn:hover{
    background: none;
    color: #FFAD3D;
}